:root {
  --primary: #126abd;
  --primary-dark: #0d5394;
  --gray: #dddddd;
  --gray-clean: #f5f5f5;
  --white: #ffffff;
  --green: #23a511;
  --red: #b82511;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  height: 10vh;
  background-color: var(--primary);
}

.header h1 {
  color: var(--white);
  font-size: 32px;
}

.header a i {
  background-color: #e40909;
  color: var(--gray);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: var(--gray);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 80vh;
  background: var(--white);
  box-shadow: 5px 5px 20px 5px #575757;
  border-radius: 12px;
}

.main-content h2 {
  font-size: 32px;
  font-weight: 900;
  color: var(--primary);
  margin: 20px 0; 
}

.form-new-task {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  padding: 15px;
  text-align: center;
  background: var(--primary);
  border-radius: 8px;
}

.form-new-task input {
  font-size: 18px;
  width: 40%;
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.form-new-task input::placeholder {
  font-size: 16px;
}

.btn-create-task {
  font-size: 16px;
  font-weight: 600;
  width: 10%;
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--white);
  color: var(--primary-dark);
  transition: 0.2s;
}

.btn-create-task:hover {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-dark);
}

.errands {
  width: 95%;
  height: 90%;
  margin-top: 15px;
  overflow: auto;
}

.errands-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.errands-table th {
  color: var(--white);
  font-size: 18px;
  padding: 12px;
  height: 10px;
}

.errands-table thead tr {
  background: var(--primary);
}

.errands-table th:first-child {
  border-radius: 8px 0 0 0;
  width: 20%;
}

.errands-table th:nth-child(3) {
  border-radius: 0 8px 0 0;
  width: 20%;
}

.errands-table tr:nth-child(even) {
  background: var(--gray-clean);
}

.errands-table td {
  text-align: center;
  padding: 10px;
}

.buttons-edit {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-delete, .btn-edit {
  color: var(--white);
  padding: 10px;
  width: 40%;
  border: none;
  border-radius: 12px;
  transition: 0.2s;
}

.btn-edit {
  color: var(--green);
  border: 2px solid var(--green);
}

.btn-delete {
  color: var(--red);
  border: 2px solid var(--red);
}

.btn-delete:hover {
  cursor: pointer;
  color: var(--white);
  background: var(--red);
}

.btn-edit:hover {
  cursor: pointer;
  color: var(--white);
  background: var(--green);
}