:root {
  --primary: #126abd;
  --gray: #dddddd;
  --gray-medium: #949494;
  --gray-dark: #575757;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

.main {
  background-color: var(--gray);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  width: 80vw;
  height: 90vh;
  transition: 0.3s;
  box-shadow: 5px 5px 80px 5px var(--gray-dark);
  border-radius: 20px;
}

.container-login,
.container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

.container-login {
  border-radius: 20px;
  background-color: var(--white);
}

.container-content {
  border-radius: 0 20px 20px 0;
  background: linear-gradient(
    0deg,
    rgba(17, 103, 182, 1) 0%,
    rgba(13, 84, 133, 1) 56%
  );
}

.content {
  width: 30vw;
  padding: 10px;
}

.title-login {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.form-signin {
  display: flex;
  flex-direction: column;
  width: 90%;
  transition: 0.3s ease-in-out;
}

.form-signin label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
  color: var(--gray-dark);
}

.form-signin input {
  width: 100%;
  margin-bottom: 36px;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  transition: 0.3s;
}

.form-signin input::placeholder {
  font-size: 14px;
  color: var(--gray-medium)
}

.btn-signin {
  width: 60%;
  font-size: 18px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 80px;
  color: var(--white);
  background: rgba(11, 77, 138, 1);
  transition: 0.3s;
  margin: auto;
}

.btn-signin:hover {
  cursor: pointer;
  background: var(--primary);
}

.register {
  margin-top: 20px;
  text-align: center;
}

.sigin-content {
  color: var(--white);
  text-align: center;
}

.sigin-content h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 76px;
}

.sigin-content h2 span {
  text-transform: uppercase;
}

.sigin-content p {
  font-size: 22px;
  margin-top: 18px;
}

@media (max-width: 1200px) {
  .main {
    background: linear-gradient(
      0deg,
      rgba(17, 103, 182, 1) 0%,
      rgba(13, 84, 133, 1) 56%
    );
  }

  .main-content {
    box-shadow: 5px 5px 80px 5px #4fa0ec;
  }

  .container-login {
    padding: 0 30px;
  }

  .container-content {
    display: none;
  }

  .form-signin {
    width: 100%;
  }
}
